<html>
    <head>
        <title>Teju's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Teju's Blog</a></h1>
        </div>

        <div>
            <p>published: 03.07.2020, 12:45</p>
            <h2><a href="">My first post</a></h2>
            <p> Hello all,Welcome to this world of happiness</p>
        </div>

        <div>
            <p>published: 03.07.2020, 12:48</p>
            <h2><a href="">My second post</a></h2>
            <p>Hope You All are Doing Good in Your World</p>
            <p><strong>Everything is about following your passion and don't get pushed away by the failures and the challenges in this process!!!</strong></p>
            <e>Keep Smiling and rock your life</e>
        </div>
    </body>
</html>